<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% end %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="{% block meta_keywords %}{% end %}" />
  <meta name="description" content="{% block meta_description %}{% end %}" />
  {% block header_styles %}{% end %}
</head>
<body>
  <div class="container">
    {% block middle_content %}{% end %}
  </div>
  {% block javascript %}{% end %}
</body>
</html>
