<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>{% block title %}{% end %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="{% block meta_keywords %}{% end %}" />
  <meta name="description" content="{% block meta_description %}{% end %}" />
  <link rel="stylesheet" href="{{static_url("css/bootstrap.min.css")}}" type="text/css" charset="utf-8" />
  <script type="text/javascript" src="{{static_url("js/jquery-1.7.min.js")}}"></script>
</head>
<body topmargin="0" rightmargin="0" leftmargin="0">
<center>
  {% block container_content %}
    {% block middle_content %}{% end %}
  {% end %}
  {% block javascript %}{% end %}
</body>
</html>
